<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/header.ejs') %> 
<body>
    <%- include('./partial/nav.ejs') %> 
    <h1>admin page</h1>
    <div class="container">
        <div class="row text-capitalize text-center">
            <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h2>add new staff</h2>
            </div>
            <a href="/add-staff">
            <div class="card-body">
                <p class="lead">add new staff here</p>
            </div>
            </a>
        </div>
        </div>

            <div class="col-lg-6 my-4 my-lg-0">
        <div class="card">
            <div class="card-header">
                <h2>view staffs</h2>
            </div>
            <a href="/view-staffs">
            <div class="card-body">
                <p class="lead">view staff here</p>
            </div>
            </a>
        </div>
        </div>
    </div>
    </div>
</body>
</html>