<!DOCTYPE html>
<html lang="en">
<%- include('./partial/header.ejs') %> 
<body class="">
    <%- include('./partial/nav.ejs') %> 
    <main class="container-fluid bg-warning vh-100 text-center text-lg-start text-capitalize py-5 text-white">
        <h1>welcome to ivei attendance project</h1>
        <p class="lead">this is staff attendace record case study of ivei</p>
        <a href="/log-in" class="btn btn-dark">log in</a>
    </main>
</body>
</html>