<header class="d-flex align-items-center justify-content-between shadow-sm p-3 position-sticky top-0 bg-white">
    <div class="logo">
        <img src="/img/logo.jpeg" alt="logo" style="max-width: 10%;"    >
    </div>
    <nav class="nav justify-content-center|justify-content-end text-capitalize">
        <a class="nav-link text-dark" href="/">home</a>
        <a class="nav-link text-dark" href="/about-us">about us</a>
        <a class="nav-link text-dark" href="/admin">admin</a>
    </nav>
</header>